<form method="post" action="/login">
  <div class="mb-3">
    <label for="exampleInputuser1" class="form-label">user address</label>
    <input type="user" class="form-control" name="user" id="user" aria-describedby="userHelp">
    <div id="userHelp" class="form-text">We'll never share your user with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>